@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@/assets/style/reset.css";
@import "@/assets/font/index.scss";

a {
  text-decoration: none;
  color: var(--el-color-primary);
}
html, body, #app {
  height: 100%;
}
.loader {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #409EFF;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}
.title {
  color: var(--el-color-primary);
}
.list-with-index {
  counter-reset: sectioncounter;
  li:before {
    content:"["counter(sectioncounter) "]";
    counter-increment: sectioncounter;
    margin-right: 4px;
  }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}